In [10]:
%load_ext autoreload
%autoreload 2

import sys

sys.path.insert(0, ".")

import asyncio
from src.main import run_round
from src.file_util import load_data, save_data, safe_load_yaml

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [16]:
# enter round 1 through 6
asyncio.create_task(run_round(6))

Done with region: None, round: 6

In [28]:
df2 = load_data(region="south", rnd=3)

df2.head(16)

                Unnamed: 0 team_name  seed region  round
effective_seed
1                        0       tcu     9  south      3
2                        0  delaware    15  south      3
3                        0  longwood    14  south      3
4                        0       uab    12  south      3